<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style/global-style.css">
    <link rel="stylesheet" href="style/lista-imoveis.css">

    <script src="script/script.js" defer></script>

    <script src="https://kit.fontawesome.com/fe8dd15147.js" crossorigin="anonymous" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coda&display=swap" rel="stylesheet">


    <title>Home | Icarus</title>
</head>

<body>


    <!-- CABECALHO  -->

    <header class="cabecalho">
        <div class="navBar-container">
            <nav class="navBar">
                <h1>Logo</h1>
                <ul>
                    <li>Home</li>
                    <li>Imóveis</li>
                    <li>Sobre Nós</li>
                    <li>Suporte</li>
                </ul>
                <div class="login-singin">
                    <div class="button">CADASTRO</div>
                    <div class="button invert-button"><img src="icons/perfil.svg"> LOGIN</div>
                </div>
                <button class="menu">
                    <img src="icons/Menu.svg">
                </button>
            </nav>
        </div>
        <div class="cabecalho-meus-imoveis">
            <h2>Meus Imoveis</h2>
        </div>
    </header>

    <main>
       <section class="sessao-imoveis" th:each="imovel : ${imovellist}">
                <div class="imoveis">
                <img src="assets/download.jpg">
                <div class="titulo"><h2 th:text="${imovel.name}"></h2></div>
                <div class="descricao">
                <p th:text="${imovel.description}"></p>
                </div>
                <div class="btn-div">
            <button type="button" class="btn-lista-imovel"><a th:href="${(#mvc.url('CIC#dashboardImovel').arg(0,dashboard.code)).build()}">Visualizar Imóvel</a></button>
            </div>
            </div>
       </section>
       <div class="btn-criar"><button><a th:href="@{novoimovel}">Anunciar Imóvel</a></button></div>
    </main>